.loginForm {
  padding: 20px;
  width: 50%;
  width: 40%;
  height: 300px;
  position: absolute;
  top: 20%;
  left: 30%;
  color: wheat;
}

.welcomeText {
  color: white;
  text-align: center;
  margin-left: 12%;
}

body {
  background-color: blue;
}

.tellerLogo{
  width: 50%;

}